@charset "UTF-8";
@font-face {
  font-family: "SFUIDisplay";
  src: url(../fonts/SFUIDisplay-Medium.otf), url("../fonts/sfuidisplay-medium-webfont.woff2") format("woff2"), url("../fonts/sfuidisplay-medium-webfont.woff") format("woff"), url("../fonts/sfuidisplay-medium-webfont.ttf") format("truetype"), url("../fonts/sfuidisplay-medium-webfont.svg#sf_ui_displaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "SFUIDisplay";
  src: url(../fonts/SFUIDisplay-Light.otf), url("../fonts/sfuidisplay-light-webfont.woff2") format("woff2"), url("../fonts/sfuidisplay-light-webfont.woff") format("woff"), url("../fonts/sfuidisplay-light-webfont.ttf") format("truetype"), url("../fonts/sfuidisplay-light-webfont.svg#sf_ui_displaylight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "SFUIDisplay";
  src: url("../fonts/SFUIDisplay-Bold.otf"), url("../fonts/sfuidisplay-bold-webfont.woff2") format("woff2"), url("../fonts/sfuidisplay-black-webfont.woff") format("woff"), url("../fonts/sfuidisplay-bold-webfont.ttf") format("truetype"), url("../fonts/sfuidisplay-bold-webfont.svg#sf_ui_displayblack") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "SFUIDisplay";
  src: url(../fonts/SFUIDisplay-Black.otf), url("../fonts/sfuidisplay-black-webfont.woff2") format("woff2"), url("../fonts/sfuidisplay-black-webfont.woff") format("woff"), url("../fonts/sfuidisplay-black-webfont.ttf") format("truetype"), url("../fonts/sfuidisplay-black-webfont.svg#sf_ui_displayblack") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'artfox';
  src: url("../fonts/artfox.eot?x6pgl4");
  src: url("../fonts/artfox.eot?x6pgl4#iefix") format("embedded-opentype"), url("../fonts/artfox.ttf?x6pgl4") format("truetype"), url("../fonts/artfox.woff?x6pgl4") format("woff"), url("../fonts/artfox.svg?x6pgl4#artfox") format("svg");
  font-weight: normal;
  font-style: normal; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

pre {
  overflow: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-circle {
  border-radius: 50%; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  position: absolute;
  top: 100PX;
  height: 30px;
  width: 30px;
  border: none;
  background: transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
  cursor: pointer; }
  .slick-arrow:active {
    -webkit-transform: scale(0.9) rotate(45deg);
    -moz-transform: scale(0.9) rotate(45deg);
    -ms-transform: scale(0.9) rotate(45deg);
    -o-transform: scale(0.9) rotate(45deg);
    transform: scale(0.9) rotate(45deg);
    -webkit-transition: .15s;
    -moz-transition: .15s;
    -ms-transition: .15s;
    -o-transition: .15s;
    transition: .15s; }
  .slick-arrow.slick-prev {
    left: 15px;
    border-left: 3px solid #ff8c00;
    border-bottom: 3px solid #ff8c00; }
  .slick-arrow.slick-next {
    right: 15px;
    border-right: 3px solid #ff8c00;
    border-top: 3px solid #ff8c00; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "SFUIDisplay", "Impact", sans-serif;
  font-size: 22px;
  line-height: 1;
  color: #333333;
  background-color: #fff;
  margin: 0;
  font-weight: normal;
  position: relative; }

a {
  color: #0080cd;
  text-decoration: none; }

a:hover,
a:focus {
  color: #ff8c00;
  text-decoration: none; }

a:focus {
  outline: none; }

img {
  border: none;
  max-width: 100%; }

ul {
  margin: 0;
  list-style: none;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

input, button, textarea, select {
  outline: none;
  font-family: "SFUIDisplay"; }

.vertical-align::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.vertical-align > * {
  display: inline-block;
  vertical-align: middle; }

.btn-wrap {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  text-align: center; }

.btn {
  display: inline-block;
  width: 263px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ff8c00;
  -webkit-box-shadow: 0 0 21px rgba(27, 161, 241, 0.4);
  -moz-box-shadow: 0 0 21px rgba(27, 161, 241, 0.4);
  box-shadow: 0 0 21px rgba(27, 161, 241, 0.4);
  border-radius: 5px;
  padding: .95em 0 .9em;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none; }
  .btn:hover {
    -webkit-box-shadow: 0 0 21px #0080cd;
    -moz-box-shadow: 0 0 21px #0080cd;
    box-shadow: 0 0 21px #0080cd;
    color: #fff; }
  .btn:active {
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99);
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    -webkit-box-shadow: 0 0 21px rgba(27, 161, 241, 0.71);
    -moz-box-shadow: 0 0 21px rgba(27, 161, 241, 0.71);
    box-shadow: 0 0 21px rgba(27, 161, 241, 0.71); }

.title-wrap {
  text-align: center;
  font-size: 60px;
  padding: 1em 0 1.5em; }
  @media (max-width: 991px) {
    .title-wrap {
      font-size: 55px; } }
  @media (max-width: 768px) {
    .title-wrap {
      font-size: 50px; } }
  @media (max-width: 550px) {
    .title-wrap {
      font-size: 42px; } }
  @media (max-width: 440px) {
    .title-wrap {
      font-size: 36px; } }
  @media (max-width: 380px) {
    .title-wrap {
      font-size: 30px; } }
  .title-wrap .title {
    color: #333333;
    font-weight: 900;
    position: relative;
    padding-bottom: 20px; }
    @media (max-width: 550px) {
      .title-wrap .title {
        padding-bottom: 10px; } }
    .title-wrap .title:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 200px;
      height: 3px;
      background: #ff8c00; }
      @media (max-width: 991px) {
        .title-wrap .title:before {
          width: 180px; } }
      @media (max-width: 768px) {
        .title-wrap .title:before {
          width: 160px; } }
      @media (max-width: 550px) {
        .title-wrap .title:before {
          width: 120px; } }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'artfox' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-analysis:before {
  content: "\e900"; }

.icon-bookmark:before {
  content: "\e901"; }

.icon-brainstorming:before {
  content: "\e902"; }

.icon-communication:before {
  content: "\e903"; }

.icon-competition:before {
  content: "\e904"; }

.icon-design-tool:before {
  content: "\e905"; }

.icon-facebook2:before {
  content: "\e906";
  color: #000; }

.icon-facebook .path1:before {
  content: "\e907";
  color: #29abe2;
  opacity: 0.3; }

.icon-facebook .path2:before {
  content: "\e908";
  color: #29abe2; }

.icon-instagram2:before {
  content: "\e909";
  color: #000; }

.icon-instagram .path1:before {
  content: "\e90a";
  color: #29abe2;
  opacity: 0.3; }

.icon-instagram .path2:before {
  content: "\e90b";
  color: #29abe2;
  opacity: 0.3; }

.icon-instagram .path3:before {
  content: "\e90c";
  color: #29abe2;
  opacity: 0.3; }

.icon-instagram .path4:before {
  content: "\e90d";
  color: #29abe2; }

.icon-instagram .path5:before {
  content: "\e90e";
  color: #29abe2; }

.icon-instagram .path6:before {
  content: "\e90f";
  color: #29abe2; }

.icon-likedin .path1:before {
  content: "\e910";
  color: #29abe2;
  opacity: 0.3; }

.icon-likedin .path2:before {
  content: "\e911";
  color: #29abe2; }

.icon-likedin .path3:before {
  content: "\e912";
  color: #29abe2; }

.icon-likedin .path4:before {
  content: "\e913";
  color: #29abe2; }

.icon-likedin .path5:before {
  content: "\e914";
  color: #29abe2; }

.icon-logo_likedin:before {
  content: "\e915";
  color: #000; }

.icon-logo_Odnoklassniki:before {
  content: "\e916";
  color: #000; }

.icon-logo_vk:before {
  content: "\e917";
  color: #000; }

.icon-logo-artfox:before {
  content: "\e918"; }

.icon-networking:before {
  content: "\e919"; }

.icon-Odnoklassniki .path1:before {
  content: "\e91a";
  color: #29abe2;
  opacity: 0.3; }

.icon-Odnoklassniki .path2:before {
  content: "\e91b";
  color: #29abe2;
  opacity: 0.3; }

.icon-Odnoklassniki .path3:before {
  content: "\e91c";
  color: #29abe2; }

.icon-Odnoklassniki .path4:before {
  content: "\e91d";
  color: #29abe2; }

.icon-Odnoklassniki .path5:before {
  content: "\e91e";
  color: #29abe2; }

.icon-presentation:before {
  content: "\e91f"; }

.icon-promotion:before {
  content: "\e920"; }

.icon-targeting:before {
  content: "\e921"; }

.icon-teamwork:before {
  content: "\e922"; }

.icon-transfer:before {
  content: "\e923"; }

.icon-twitter2:before {
  content: "\e924";
  color: #000; }

.icon-twitter .path1:before {
  content: "\e925";
  color: #29abe2;
  opacity: 0.3; }

.icon-twitter .path2:before {
  content: "\e926";
  color: #29abe2; }

.icon-vk .path1:before {
  content: "\e927";
  color: #29abe2;
  opacity: 0.3; }

.icon-vk .path2:before {
  content: "\e928";
  color: #29abe2; }

.icon-twitter5:before {
  content: "\e915"; }

.icon-vk-social-network-logo5:before {
  content: "\e909"; }

.icon-facebook5:before {
  content: "\e906"; }

.icon-odnoklassniki-logo5:before {
  content: "\e916"; }

.icon-instagram5:before {
  content: "\e917"; }

.icon-linkedin5:before {
  content: "\e924"; }

form {
  display: inline-block;
  width: 470px;
  padding: 50px;
  background: #fff;
  border-radius: 20px 20px 0 0;
  overflow: hidden !important; }
  form.good .btn-wrap:before {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
  @media (max-width: 500px) {
    form {
      width: 100%;
      padding: 40px 20px; } }
  @media (max-width: 400px) {
    form {
      padding: 40px 10px; } }
  form input, form textarea {
    display: inline-block;
    float: left;
    width: 100%;
    border: 1px solid #333333;
    border-radius: 2px;
    margin-top: 30px;
    font-family: "SFUIDisplay";
    padding: 22px 20px 20px;
    font-size: 18px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    resize: none; }
    @media (max-width: 1199px) {
      form input, form textarea {
        padding: 17px 16px 16px;
        margin-top: 25px; } }
    form input:focus, form textarea:focus {
      border-color: #0080cd; }
    form input.error, form textarea.error {
      border-color: red; }
  form .form-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px; }
    @media (max-width: 1199px) {
      form .form-title {
        margin-bottom: 15px; } }
    @media (max-width: 500px) {
      form .form-title {
        margin-bottom: 0; } }
  form .btn-wrap {
    position: relative;
    margin-top: 50px; }
    @media (max-width: 1199px) {
      form .btn-wrap {
        margin-top: 30px; } }
    form .btn-wrap:before {
      content: "Отправлено!";
      display: inline-block;
      background: #ff8c00;
      text-align: center;
      font-size: 40px;
      padding-top: 45px;
      position: absolute;
      left: -100px;
      right: -100px;
      top: 0;
      height: 135px;
      color: #fff;
      -webkit-transform: translateY(130px);
      -moz-transform: translateY(130px);
      -ms-transform: translateY(130px);
      -o-transform: translateY(130px);
      transform: translateY(130px);
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      z-index: 1; }
      @media (max-width: 500px) {
        form .btn-wrap:before {
          padding-top: 38px; } }
    @media (max-width: 1199px) {
      form .btn-wrap .btn {
        padding: 0.85em 0 .8em; } }
  form ::-webkit-input-placeholder {
    font-family: "SFUIDisplay";
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    opacity: .9; }
  form ::-moz-placeholder {
    font-family: "SFUIDisplay";
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    opacity: .9; }
  form :-moz-placeholder {
    font-family: "SFUIDisplay";
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    opacity: .9; }
  form :-ms-input-placeholder {
    font-family: "SFUIDisplay";
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    opacity: .9; }

header {
  background: #ff8c00;
  height: 110px;
  -webkit-box-shadow: 4px 0 21px rgba(110, 110, 110, 0.5);
  -moz-box-shadow: 4px 0 21px rgba(110, 110, 110, 0.5);
  box-shadow: 4px 0 21px rgba(110, 110, 110, 0.5);
  position: relative; }
  @media (max-width: 1199px) {
    header {
      height: 100px; } }
  @media (max-width: 991px) {
    header {
      height: 80px; } }
  @media (max-width: 750px) {
    header {
      height: 60px; } }
  header .container {
    position: relative; }
  header a.get-tell {
    float: right;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 42px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    position: relative;
    z-index: 2; }
    @media (max-width: 1199px) {
      header a.get-tell {
        font-size: 23px;
        margin-top: 38px; } }
    @media (max-width: 991px) {
      header a.get-tell {
        font-size: 20px;
        margin-top: 30px; } }
    @media (max-width: 750px) {
      header a.get-tell {
        margin-top: 20px; } }
    header a.get-tell:hover {
      color: #fff; }
  header .tell-wrap {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    text-align: center; }
    @media (max-width: 1199px) {
      header .tell-wrap {
        top: 28px; } }
    @media (max-width: 991px) {
      header .tell-wrap {
        top: 22px; } }
    @media (max-width: 750px) {
      header .tell-wrap {
        text-align: left;
        top: 12px;
        padding-left: 140px; } }
    @media (max-width: 660px) {
      header .tell-wrap {
        top: 15px; } }
    @media (max-width: 620px) {
      header .tell-wrap {
        display: none; } }
    header .tell-wrap a.tell {
      display: inline-block;
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      @media (max-width: 1199px) {
        header .tell-wrap a.tell {
          font-size: 42px; } }
      @media (max-width: 991px) {
        header .tell-wrap a.tell {
          font-size: 35px; } }
      @media (max-width: 660px) {
        header .tell-wrap a.tell {
          font-size: 30px; } }
      header .tell-wrap a.tell:hover {
        color: #333333; }

.logo {
  background: #ff8c00;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  font-size: 150px;
  padding-top: 27px;
  color: #333333;
  position: absolute;
  left: 15px;
  top: 0;
  z-index: 2;
  -webkit-box-shadow: 0 0 21px rgba(110, 110, 110, 0.5);
  -moz-box-shadow: 0 0 21px rgba(110, 110, 110, 0.5);
  box-shadow: 0 0 21px rgba(110, 110, 110, 0.5);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px); }
  @media (max-width: 1199px) {
    .logo {
      width: 180px;
      height: 180px;
      -webkit-transform: translateY(-45px);
      -moz-transform: translateY(-45px);
      -ms-transform: translateY(-45px);
      -o-transform: translateY(-45px);
      transform: translateY(-45px);
      font-size: 140px;
      padding-top: 22px; } }
  @media (max-width: 991px) {
    .logo {
      width: 150px;
      height: 150px;
      font-size: 110px;
      -webkit-transform: translateY(-40px);
      -moz-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
      -o-transform: translateY(-40px);
      transform: translateY(-40px);
      padding-top: 23px; } }
  @media (max-width: 750px) {
    .logo {
      width: 120px;
      height: 120px;
      font-size: 95px;
      -webkit-transform: translateY(-30px);
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -o-transform: translateY(-30px);
      transform: translateY(-30px);
      padding-top: 11px; } }
  @media (max-width: 370px) {
    .logo {
      left: -11px; } }

.head {
  height: 827px;
  background: url("../img/head-bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 60px;
  margin-bottom: 60px; }
  @media (max-width: 1199px) {
    .head {
      height: 682px; } }
  @media (max-width: 991px) {
    .head {
      height: 732px; } }
  @media (max-width: 768px) {
    .head {
      height: auto; } }
  .head .container {
    position: relative; }
  .head .head-title {
    color: #fff;
    font-size: 71px;
    font-weight: 900;
    padding: 60px 0 150px 60px;
    line-height: 1.3;
    position: relative;
    border-left: 0.45em solid #ff8c00; }
    @media (max-width: 1199px) {
      .head .head-title {
        font-size: 50px;
        padding: 40px 0 110px 60px; } }
    @media (max-width: 991px) {
      .head .head-title {
        font-size: 45px;
        padding: 40px 0 80px 30px; } }
    @media (max-width: 768px) {
      .head .head-title {
        font-size: 40px;
        padding: 40px 0 80px 10px;
        text-align: center; } }
    @media (max-width: 550px) {
      .head .head-title {
        font-size: 30px;
        padding: 0 0 20px 0;
        border-left: 0; } }
    @media (max-width: 420px) {
      .head .head-title {
        font-size: 24px; } }
    .head .head-title span.big {
      font-size: 1.66em; }
    .head .head-title span.one {
      position: absolute;
      top: 0;
      left: 0;
      width: 750px;
      height: 0.45em;
      background: #ff8c00; }
      @media (max-width: 1199px) {
        .head .head-title span.one {
          width: 550px; } }
      @media (max-width: 991px) {
        .head .head-title span.one {
          width: 450px; } }
      @media (max-width: 768px) {
        .head .head-title span.one {
          width: 100%; } }
      @media (max-width: 550px) {
        .head .head-title span.one {
          top: auto;
          bottom: 0; } }
    .head .head-title span.two {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 580px;
      height: 0.45em;
      background: #ff8c00; }
      @media (max-width: 1199px) {
        .head .head-title span.two {
          width: 400px; } }
      @media (max-width: 991px) {
        .head .head-title span.two {
          width: 100px; } }
      @media (max-width: 768px) {
        .head .head-title span.two {
          display: none; } }
    .head .head-title span.three {
      position: absolute;
      top: 0;
      left: calc(750px - .45em);
      width: .45em;
      height: 80px;
      background: #ff8c00; }
      @media (max-width: 1199px) {
        .head .head-title span.three {
          left: calc(550px - .45em); } }
      @media (max-width: 991px) {
        .head .head-title span.three {
          left: calc(468px - .45em);
          height: 60px; } }
      @media (max-width: 768px) {
        .head .head-title span.three {
          display: none; } }
  .head form {
    position: absolute;
    right: 15px;
    top: 210px;
    -webkit-box-shadow: 0 0 21px rgba(27, 161, 241, 0.4);
    -moz-box-shadow: 0 0 21px rgba(27, 161, 241, 0.4);
    box-shadow: 0 0 21px rgba(27, 161, 241, 0.4); }
    @media (max-width: 1199px) {
      .head form {
        top: 160px;
        width: 430px;
        padding: 40px; } }
    @media (max-width: 991px) {
      .head form {
        position: static;
        margin: 0 auto;
        display: block;
        -webkit-transform: translateY(-65px);
        -moz-transform: translateY(-65px);
        -ms-transform: translateY(-65px);
        -o-transform: translateY(-65px);
        transform: translateY(-65px); } }
    @media (max-width: 768px) {
      .head form {
        -webkit-transform: translateY(65px);
        -moz-transform: translateY(65px);
        -ms-transform: translateY(65px);
        -o-transform: translateY(65px);
        transform: translateY(65px);
        margin-top: -120px; } }
    @media (max-width: 550px) {
      .head form {
        margin-top: -20px; } }
    @media (max-width: 500px) {
      .head form {
        width: 100%;
        padding: 40px 20px; } }
    @media (max-width: 400px) {
      .head form {
        padding: 40px 10px; } }

.why-we {
  padding-bottom: 30px; }
  .why-we .container {
    text-align: center; }
  .why-we .one-why-my {
    float: left;
    width: 33.333%;
    display: inline-block;
    text-align: center; }
    @media (max-width: 768px) {
      .why-we .one-why-my {
        width: 50%; } }
    @media (max-width: 500px) {
      .why-we .one-why-my {
        width: 100%;
        padding: 0 15px; } }
    .why-we .one-why-my:nth-child(4), .why-we .one-why-my:nth-child(5) {
      float: none;
      margin-top: 35px; }
    @media (max-width: 768px) {
      .why-we .one-why-my:nth-child(3), .why-we .one-why-my:nth-child(4), .why-we .one-why-my:nth-child(5) {
        margin-top: 35px; } }
    @media (max-width: 500px) {
      .why-we .one-why-my:nth-child(3), .why-we .one-why-my:nth-child(4), .why-we .one-why-my:nth-child(5) {
        margin-top: 15px; } }
    @media (max-width: 500px) {
      .why-we .one-why-my:nth-child(2), .why-we .one-why-my:nth-child(3), .why-we .one-why-my:nth-child(4), .why-we .one-why-my:nth-child(5) {
        margin-top: 15px; } }
    @media (max-width: 768px) {
      .why-we .one-why-my:nth-child(4) {
        float: left; } }
    .why-we .one-why-my .one-why-my-icon {
      display: inline-block;
      width: 150px;
      height: 150px;
      background: #ff8c00;
      border-radius: 50%;
      font-size: 90px;
      margin-bottom: 20px;
      position: relative;
      -webkit-box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
      -moz-box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
      box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      .why-we .one-why-my .one-why-my-icon:hover {
        -webkit-box-shadow: 0 4px 21px #0080cd;
        -moz-box-shadow: 0 4px 21px #0080cd;
        box-shadow: 0 4px 21px #0080cd;
        color: #fff; }
      .why-we .one-why-my .one-why-my-icon:before {
        position: absolute; }
      .why-we .one-why-my .one-why-my-icon.icon-presentation:before {
        top: 34px;
        left: 25px; }
      .why-we .one-why-my .one-why-my-icon.icon-teamwork:before {
        top: 24px;
        left: 30px; }
      .why-we .one-why-my .one-why-my-icon.icon-networking:before {
        top: 21px;
        left: 30px; }
      .why-we .one-why-my .one-why-my-icon.icon-transfer:before {
        top: 29px;
        left: 30px; }
      .why-we .one-why-my .one-why-my-icon.icon-communication:before {
        top: 24px;
        left: 31px; }
    .why-we .one-why-my p {
      font-size: 22px;
      font-weight: normal;
      line-height: 1.4;
      display: inline-block;
      width: 100%;
      text-align: center;
      height: 4.2em;
      overflow: hidden; }
      @media (max-width: 991px) {
        .why-we .one-why-my p {
          font-size: 20px; } }

.directions {
  background: #f5f5f5;
  padding-bottom: 80px; }
  .directions .container {
    text-align: center; }
  .directions .one-direction-wrap {
    width: 195px;
    height: 186px;
    display: inline-block;
    padding: 15px;
    font-size: 130px;
    margin-left: -5px; }
    @media (max-width: 1199px) {
      .directions .one-direction-wrap {
        margin-left: 0; } }
    .directions .one-direction-wrap .one-direction {
      position: relative;
      width: 100%;
      height: 152px;
      overflow: hidden;
      -webkit-box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
      -moz-box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
      box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      color: #0080cd; }
      .directions .one-direction-wrap .one-direction:hover {
        -webkit-box-shadow: 0 4px 21px #0080cd;
        -moz-box-shadow: 0 4px 21px #0080cd;
        box-shadow: 0 4px 21px #0080cd; }
    .directions .one-direction-wrap .icon-vk .path1:before {
      position: absolute;
      right: 18px;
      bottom: 21px; }
    .directions .one-direction-wrap .icon-vk .path2:before {
      position: absolute;
      top: 1px;
      left: 18px; }
    .directions .one-direction-wrap .icon-facebook .path1:before {
      position: absolute;
      right: 16px;
      bottom: 21px; }
    .directions .one-direction-wrap .icon-facebook .path2:before {
      position: absolute;
      top: 1px;
      right: 15px; }
    .directions .one-direction-wrap .icon-twitter .path1:before {
      position: absolute;
      right: 18px;
      bottom: 21px; }
    .directions .one-direction-wrap .icon-twitter .path2:before {
      position: absolute;
      top: 1px;
      right: 17px; }
    .directions .one-direction-wrap .icon-instagram .path1:before {
      position: absolute;
      right: 16px;
      bottom: 21px; }
    .directions .one-direction-wrap .icon-instagram .path2:before {
      position: absolute;
      top: 1px;
      right: 16px; }
    .directions .one-direction-wrap .icon-instagram .path3:before {
      position: absolute;
      top: 1px;
      right: 16px; }
    .directions .one-direction-wrap .icon-instagram .path4:before {
      position: absolute;
      top: 1px;
      right: 15px; }
    .directions .one-direction-wrap .icon-instagram .path5:before {
      position: absolute;
      top: 1px;
      right: 15px; }
    .directions .one-direction-wrap .icon-instagram .path6:before {
      position: absolute;
      top: 1px;
      right: 16px; }
    .directions .one-direction-wrap .icon-Odnoklassniki .path1:before {
      position: absolute;
      right: 15px;
      bottom: 20px; }
    .directions .one-direction-wrap .icon-Odnoklassniki .path2:before {
      position: absolute;
      top: 2px;
      right: 15px; }
    .directions .one-direction-wrap .icon-Odnoklassniki .path3:before {
      position: absolute;
      top: 2px;
      right: 14px; }
    .directions .one-direction-wrap .icon-Odnoklassniki .path4:before {
      position: absolute;
      top: 2px;
      right: 14px; }
    .directions .one-direction-wrap .icon-Odnoklassniki .path5:before {
      position: absolute;
      top: 2px;
      right: 14px; }
    .directions .one-direction-wrap .icon-likedin .path1:before {
      position: absolute;
      right: 15px;
      bottom: 20px; }
    .directions .one-direction-wrap .icon-likedin .path2:before {
      position: absolute;
      top: 1px;
      right: 15px; }
    .directions .one-direction-wrap .icon-likedin .path3:before {
      position: absolute;
      top: 1px;
      right: 15px; }
    .directions .one-direction-wrap .icon-likedin .path4:before {
      position: absolute;
      top: 1px;
      right: 15px; }
    .directions .one-direction-wrap .icon-likedin .path5:before {
      position: absolute;
      top: 1px;
      right: 15px; }

.services .service-block {
  position: relative;
  -webkit-box-shadow: 0 -20px 0 #fff, -20px 0 0 #fff, 20px 0 0 #fff, 0 4px 21px rgba(110, 110, 110, 0.41);
  -moz-box-shadow: 0 -20px 0 #fff, -20px 0 0 #fff, 20px 0 0 #fff, 0 4px 21px rgba(110, 110, 110, 0.41);
  box-shadow: 0 -20px 0 #fff, -20px 0 0 #fff, 20px 0 0 #fff, 0 4px 21px rgba(110, 110, 110, 0.41); }
  .services .service-block .row {
    position: relative;
    z-index: 1; }
    .services .service-block .row .service-text {
      padding-top: 30px;
      margin-bottom: 115px; }
      @media (max-width: 991px) {
        .services .service-block .row .service-text {
          margin-bottom: 50px; } }
      @media (max-width: 768px) {
        .services .service-block .row .service-text {
          margin-bottom: 35px;
          text-align: center;
          width: 100%; } }
      .services .service-block .row .service-text .service-title {
        font-size: 60px;
        display: inline-block;
        text-align: left;
        position: relative;
        font-weight: bold;
        line-height: 1.19;
        margin-bottom: 60px; }
        @media (max-width: 991px) {
          .services .service-block .row .service-text .service-title {
            margin-bottom: 20px; } }
        @media (max-width: 400px) {
          .services .service-block .row .service-text .service-title {
            font-size: 40px;
            text-align: center;
            margin-bottom: 40px; } }
        .services .service-block .row .service-text .service-title.left {
          padding: 7px 67px 35px 0; }
          @media (max-width: 400px) {
            .services .service-block .row .service-text .service-title.left {
              padding: 20px 60px 20px 0; } }
          .services .service-block .row .service-text .service-title.left:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            border: 10px solid #0080cd;
            height: 183px;
            width: 183px;
            z-index: -2; }
            @media (max-width: 400px) {
              .services .service-block .row .service-text .service-title.left:before {
                height: 143px;
                width: 143px; } }
          .services .service-block .row .service-text .service-title.left:after {
            content: "";
            position: absolute;
            right: 171px;
            top: 27px;
            height: 114px;
            width: 15px;
            background: #fff;
            z-index: -1; }
            @media (max-width: 400px) {
              .services .service-block .row .service-text .service-title.left:after {
                right: 131px;
                height: 88px; } }
        .services .service-block .row .service-text .service-title.right {
          padding: 7px 0 35px 50px; }
          @media (max-width: 400px) {
            .services .service-block .row .service-text .service-title.right {
              padding: 20px 0 20px 50px; } }
          .services .service-block .row .service-text .service-title.right:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            border: 10px solid #0080cd;
            height: 183px;
            width: 183px;
            z-index: -2; }
            @media (max-width: 400px) {
              .services .service-block .row .service-text .service-title.right:before {
                height: 143px;
                width: 143px; } }
          .services .service-block .row .service-text .service-title.right:after {
            content: "";
            position: absolute;
            left: 171px;
            top: 27px;
            height: 114px;
            width: 15px;
            background: #fff;
            z-index: -1; }
            @media (max-width: 400px) {
              .services .service-block .row .service-text .service-title.right:after {
                left: 131px;
                height: 85px; } }
      @media (max-width: 768px) {
        .services .service-block .row .service-text ul {
          text-align: left;
          display: inline-block; } }
      .services .service-block .row .service-text ul li {
        font-size: 22px;
        line-height: 1.4; }
        @media (max-width: 991px) {
          .services .service-block .row .service-text ul li {
            font-size: 19px; } }
        @media (max-width: 400px) {
          .services .service-block .row .service-text ul li {
            font-size: 14px; } }
        .services .service-block .row .service-text ul li + li {
          margin-top: .5em; }
        .services .service-block .row .service-text ul li b {
          font-weight: 900; }
      .services .service-block .row .service-text .btn-wrap {
        display: none; }
        @media (max-width: 768px) {
          .services .service-block .row .service-text .btn-wrap {
            display: inline-block; } }
    .services .service-block .row .service-icon {
      position: absolute;
      right: 15px;
      bottom: 0;
      top: 0;
      background: #ff8c00;
      width: 40.4%; }
      @media (max-width: 768px) {
        .services .service-block .row .service-icon {
          display: none; } }
      .services .service-block .row .service-icon.right {
        right: auto;
        left: 15px; }
      .services .service-block .row .service-icon .service-icon-wrap {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        color: #fff; }
        .services .service-block .row .service-icon .service-icon-wrap.optima .icon {
          padding-left: 15px; }
          @media (max-width: 991px) {
            .services .service-block .row .service-icon .service-icon-wrap.optima .icon {
              top: 130px; } }
        @media (max-width: 1199px) {
          .services .service-block .row .service-icon .service-icon-wrap.optima .little {
            margin-top: 20px; } }
        @media (max-width: 991px) {
          .services .service-block .row .service-icon .service-icon-wrap.optima .little {
            font-size: 70px;
            margin-top: -10px; } }
        .services .service-block .row .service-icon .service-icon-wrap.pro .big {
          font-size: 670px;
          line-height: .84;
          text-align: left;
          padding-left: 21px;
          padding-top: 15px; }
          @media (max-width: 1199px) {
            .services .service-block .row .service-icon .service-icon-wrap.pro .big {
              font-size: 600px;
              padding-left: 0; } }
          @media (max-width: 991px) {
            .services .service-block .row .service-icon .service-icon-wrap.pro .big {
              font-size: 470px; } }
        .services .service-block .row .service-icon .service-icon-wrap.pro .little {
          -webkit-transform: translateY(-120px);
          -moz-transform: translateY(-120px);
          -ms-transform: translateY(-120px);
          -o-transform: translateY(-120px);
          transform: translateY(-120px); }
          @media (max-width: 1199px) {
            .services .service-block .row .service-icon .service-icon-wrap.pro .little {
              -webkit-transform: translateY(-116px);
              -moz-transform: translateY(-116px);
              -ms-transform: translateY(-116px);
              -o-transform: translateY(-116px);
              transform: translateY(-116px); } }
          @media (max-width: 991px) {
            .services .service-block .row .service-icon .service-icon-wrap.pro .little {
              -webkit-transform: translateY(-108px);
              -moz-transform: translateY(-108px);
              -ms-transform: translateY(-108px);
              -o-transform: translateY(-108px);
              transform: translateY(-108px); } }
        .services .service-block .row .service-icon .service-icon-wrap.pro .icon {
          top: 182px; }
          @media (max-width: 1199px) {
            .services .service-block .row .service-icon .service-icon-wrap.pro .icon {
              top: 162px; } }
          @media (max-width: 991px) {
            .services .service-block .row .service-icon .service-icon-wrap.pro .icon {
              font-size: 70px;
              top: 125px; } }
          @media (max-width: 991px) {
            .services .service-block .row .service-icon .service-icon-wrap.pro .icon:after {
              height: 110px;
              width: 110px;
              left: calc(50% - 55px);
              top: -20px; } }
          @media (max-width: 1199px) {
            .services .service-block .row .service-icon .service-icon-wrap.pro .icon span:after {
              height: 135px;
              width: 135px; } }
        .services .service-block .row .service-icon .service-icon-wrap.vip .big {
          position: relative;
          z-index: 5;
          font-size: 430px;
          padding-top: 40px; }
          @media (max-width: 991px) {
            .services .service-block .row .service-icon .service-icon-wrap.vip .big {
              font-size: 400px;
              padding-top: 0; } }
        .services .service-block .row .service-icon .service-icon-wrap.vip .little {
          font-size: 120px;
          margin-top: 23px;
          position: relative;
          z-index: 5; }
          @media (max-width: 991px) {
            .services .service-block .row .service-icon .service-icon-wrap.vip .little {
              margin-top: 10px; } }
        .services .service-block .row .service-icon .service-icon-wrap.vip .circle {
          position: absolute;
          top: 196px;
          left: calc(50% - 165px);
          background: #0080cd;
          border-radius: 50%;
          height: 330px;
          width: 330px;
          overflow: hidden;
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
          -webkit-transition: 0.5s cubic-bezier(0.25, 1.24, 0.79, 1.17);
          -moz-transition: 0.5s cubic-bezier(0.25, 1.24, 0.79, 1.17);
          -ms-transition: 0.5s cubic-bezier(0.25, 1.24, 0.79, 1.17);
          -o-transition: 0.5s cubic-bezier(0.25, 1.24, 0.79, 1.17);
          transition: 0.5s cubic-bezier(0.25, 1.24, 0.79, 1.17); }
          @media (max-width: 991px) {
            .services .service-block .row .service-icon .service-icon-wrap.vip .circle {
              width: 280px;
              height: 280px;
              left: calc(50% - 140px);
              top: 168px; } }
          .services .service-block .row .service-icon .service-icon-wrap.vip .circle[data-scroll="on"] {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1); }
            .services .service-block .row .service-icon .service-icon-wrap.vip .circle[data-scroll="on"]:before {
              animation: shadow-move 2s .5s infinite; }

@keyframes shadow-move {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(27, 161, 241, 0.8);
    -moz-box-shadow: 0 0 0 rgba(27, 161, 241, 0.8);
    box-shadow: 0 0 0 rgba(27, 161, 241, 0.8); }
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 500px 20px rgba(27, 161, 241, 0.8);
    -moz-box-shadow: 0 0 500px 20px rgba(27, 161, 241, 0.8);
    box-shadow: 0 0 500px 20px rgba(27, 161, 241, 0.8); }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(27, 161, 241, 0.8);
    -moz-box-shadow: 0 0 0 rgba(27, 161, 241, 0.8);
    box-shadow: 0 0 0 rgba(27, 161, 241, 0.8); } }
          .services .service-block .row .service-icon .service-icon-wrap.vip .circle:before {
            content: "";
            position: absolute;
            top: 74px;
            left: calc(50% - 93px);
            background: #1ba1f1;
            border-radius: 50%;
            height: 186px;
            width: 186px;
            -webkit-box-shadow: 0 0 0 #1ba1f1;
            -moz-box-shadow: 0 0 0 #1ba1f1;
            box-shadow: 0 0 0 #1ba1f1; }
            @media (max-width: 991px) {
              .services .service-block .row .service-icon .service-icon-wrap.vip .circle:before {
                height: 160px;
                width: 160px;
                left: calc(50% - 80px);
                top: 60px; } }
        .services .service-block .row .service-icon .service-icon-wrap.vip .icon {
          color: #fff;
          top: 27px; }
          .services .service-block .row .service-icon .service-icon-wrap.vip .icon:before {
            opacity: 1; }
        .services .service-block .row .service-icon .service-icon-wrap .big {
          display: inline-block;
          width: 100%;
          text-align: center;
          font-weight: bold;
          font-size: 470px;
          line-height: .84; }
          @media (max-width: 991px) {
            .services .service-block .row .service-icon .service-icon-wrap .big {
              font-size: 400px; } }
          @media (max-width: 768px) {
            .services .service-block .row .service-icon .service-icon-wrap .big {
              display: none; } }
        .services .service-block .row .service-icon .service-icon-wrap .little {
          display: inline-block;
          width: 100%;
          text-align: center;
          font-weight: bold;
          font-size: 90px; }
          @media (max-width: 768px) {
            .services .service-block .row .service-icon .service-icon-wrap .little {
              display: none; } }
        .services .service-block .row .service-icon .service-icon-wrap .icon {
          color: #333333;
          position: absolute;
          top: 163px;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 90px;
          -webkit-transition: .3s;
          -moz-transition: .3s;
          -ms-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .services .service-block .row .service-icon .service-icon-wrap .icon[data-scroll="on"]:before, .services .service-block .row .service-icon .service-icon-wrap .icon[data-scroll="on"]:after {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            opacity: 1; }
          .services .service-block .row .service-icon .service-icon-wrap .icon[data-scroll="on"] span {
            animation: line-move 1.5s;
            -webkit-transform: rotate(135deg) scale(1);
            -moz-transform: rotate(135deg) scale(1);
            -ms-transform: rotate(135deg) scale(1);
            -o-transform: rotate(135deg) scale(1);
            transform: rotate(135deg) scale(1); }

@keyframes line-move {
  0% {
    -webkit-transform: rotate(45deg) scale(0);
    -moz-transform: rotate(45deg) scale(0);
    -ms-transform: rotate(45deg) scale(0);
    -o-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0); }
  30% {
    -webkit-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -o-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  60% {
    -webkit-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -o-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  100% {
    -webkit-transform: rotate(135deg) scale(1);
    -moz-transform: rotate(135deg) scale(1);
    -ms-transform: rotate(135deg) scale(1);
    -o-transform: rotate(135deg) scale(1);
    transform: rotate(135deg) scale(1); } }
          .services .service-block .row .service-icon .service-icon-wrap .icon:before, .services .service-block .row .service-icon .service-icon-wrap .icon:after {
            -webkit-transition: .4s .4s;
            -moz-transition: .4s .4s;
            -ms-transition: .4s .4s;
            -o-transition: .4s .4s;
            transition: .4s .4s;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0); }
          .services .service-block .row .service-icon .service-icon-wrap .icon:before {
            position: relative;
            z-index: 5;
            opacity: 0; }
          .services .service-block .row .service-icon .service-icon-wrap .icon:after {
            content: "";
            position: absolute;
            background: #ff8c00;
            border-radius: 50%;
            z-index: 4;
            top: -30px;
            left: calc(50% - 70px);
            height: 140px;
            width: 140px;
            opacity: 1; }
          .services .service-block .row .service-icon .service-icon-wrap .icon span {
            position: absolute;
            width: 80%;
            left: 10%;
            top: 40px;
            height: 3px;
            z-index: 1;
            background: #333333;
            -webkit-transform: rotate(45deg) scale(0);
            -moz-transform: rotate(45deg) scale(0);
            -ms-transform: rotate(45deg) scale(0);
            -o-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
            transition: 1s; }
            @media (max-width: 1199px) {
              .services .service-block .row .service-icon .service-icon-wrap .icon span {
                width: 94%;
                left: 3%; } }
            @media (max-width: 991px) {
              .services .service-block .row .service-icon .service-icon-wrap .icon span {
                width: 100%;
                left: 0; } }
        .services .service-block .row .service-icon .service-icon-wrap .btn-wrap {
          position: absolute;
          left: 0;
          bottom: 30px; }
        .services .service-block .row .service-icon .service-icon-wrap .btn {
          -webkit-box-shadow: 0 0 21px rgba(20, 1, 1, 0.4);
          -moz-box-shadow: 0 0 21px rgba(20, 1, 1, 0.4);
          box-shadow: 0 0 21px rgba(20, 1, 1, 0.4); }
          .services .service-block .row .service-icon .service-icon-wrap .btn:hover {
            -webkit-box-shadow: 0 0 21px rgba(20, 1, 1, 0.6);
            -moz-box-shadow: 0 0 21px rgba(20, 1, 1, 0.6);
            box-shadow: 0 0 21px rgba(20, 1, 1, 0.6); }

.additional-services {
  background: #f5f5f5;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .additional-services {
      padding-bottom: 60px; } }
  @media (max-width: 400px) {
    .additional-services {
      padding-bottom: 20px; } }
  .additional-services .additional-block {
    display: inline-block;
    float: left;
    width: 25%;
    text-align: center; }
    @media (max-width: 991px) {
      .additional-services .additional-block {
        width: 50%;
        margin-bottom: 50px; } }
    @media (max-width: 400px) {
      .additional-services .additional-block {
        width: 100%; } }
    .additional-services .additional-block[data-scroll="on"] .one-why-my-icon {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .additional-services .additional-block[data-scroll="on"] p {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
    .additional-services .additional-block .one-why-my-icon {
      display: inline-block;
      width: 150px;
      height: 150px;
      background: #ff8c00;
      border-radius: 50%;
      font-size: 90px;
      margin-bottom: 20px;
      position: relative;
      -webkit-box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
      -moz-box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
      box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
      .additional-services .additional-block .one-why-my-icon:hover {
        -webkit-box-shadow: 0 4px 21px #0080cd;
        -moz-box-shadow: 0 4px 21px #0080cd;
        box-shadow: 0 4px 21px #0080cd;
        color: #fff; }
      .additional-services .additional-block .one-why-my-icon:before {
        position: absolute;
        left: 31px;
        top: 28px; }
      .additional-services .additional-block .one-why-my-icon.icon-bookmark:before {
        left: 37px; }
    .additional-services .additional-block p {
      text-align: center;
      line-height: 1.3;
      opacity: 0;
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -o-transform: translateY(40px);
      transform: translateY(40px);
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      width: 180px;
      margin: 0 auto; }

.info-number {
  background: url("../img/info-number-bg.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .info-number {
      padding-bottom: 60px; } }
  @media (max-width: 550px) {
    .info-number {
      padding-bottom: 40px; } }
  .info-number .title {
    color: #fff; }
  .info-number .info-block {
    float: left;
    display: inline-block;
    width: 33.3333%; }
    @media (max-width: 550px) {
      .info-number .info-block {
        width: 100%;
        margin-bottom: 40px; } }
    .info-number .info-block .info-title {
      display: inline-block;
      width: 100%;
      font-size: 60px;
      color: #ff8c00;
      text-align: center;
      font-weight: 900;
      margin-bottom: 20px; }
      @media (max-width: 991px) {
        .info-number .info-block .info-title {
          font-size: 55px; } }
      @media (max-width: 768px) {
        .info-number .info-block .info-title {
          font-size: 45px; } }
      @media (max-width: 550px) {
        .info-number .info-block .info-title {
          font-size: 55px; } }
    .info-number .info-block .info-text {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 30px;
      line-height: 1.2; }
      @media (max-width: 991px) {
        .info-number .info-block .info-text {
          font-size: 26px; } }
      @media (max-width: 768px) {
        .info-number .info-block .info-text {
          font-size: 19px; } }
      @media (max-width: 550px) {
        .info-number .info-block .info-text {
          font-size: 26px; } }

.clients {
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .clients {
      padding-bottom: 60px; } }
  .clients .slider-head {
    padding: 0 7% 0 8%;
    min-height: 100px;
    margin-bottom: 60px;
    display: inline-block;
    width: 100%; }
    @media (max-width: 991px) {
      .clients .slider-head {
        padding: 0;
        margin-bottom: 35px; } }
    .clients .slider-head .slide-logo {
      float: left;
      margin-top: 25px;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      .clients .slider-head .slide-logo[data-scroll="on"] {
        -webkit-box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
        -moz-box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
        box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
        -webkit-transition: .6s;
        -moz-transition: .6s;
        -ms-transition: .6s;
        -o-transition: .6s;
        transition: .6s; }
      @media (max-width: 991px) {
        .clients .slider-head .slide-logo {
          float: none;
          display: block;
          width: 200px;
          margin: 25px auto; } }
      .clients .slider-head .slide-logo:hover {
        -webkit-box-shadow: 0 4px 21px #0080cd;
        -moz-box-shadow: 0 4px 21px #0080cd;
        box-shadow: 0 4px 21px #0080cd; }
    .clients .slider-head .slide-head-text {
      display: inline-block;
      width: calc(100% - 200px);
      padding-left: 50px; }
      @media (max-width: 1199px) {
        .clients .slider-head .slide-head-text {
          padding-left: 25px;
          font-size: 20px; } }
      @media (max-width: 991px) {
        .clients .slider-head .slide-head-text {
          width: 100%;
          padding-left: 15px;
          padding-right: 15px; } }
      @media (max-width: 500px) {
        .clients .slider-head .slide-head-text {
          font-size: 17px; } }
      @media (max-width: 400px) {
        .clients .slider-head .slide-head-text {
          font-size: 14px; } }
      .clients .slider-head .slide-head-text li {
        line-height: 1.8; }
        .clients .slider-head .slide-head-text li:first-child {
          font-weight: 900;
          text-transform: uppercase;
          padding-left: 60px;
          margin-bottom: 4px; }
          @media (max-width: 991px) {
            .clients .slider-head .slide-head-text li:first-child {
              padding-left: 0;
              text-align: center; } }
        .clients .slider-head .slide-head-text li b {
          font-weight: 900; }
  .clients .slider-bot {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px; }
    .clients .slider-bot .slider-comment-wrap {
      width: 50%;
      float: left;
      padding: 0 15px; }
      @media (max-width: 991px) {
        .clients .slider-bot .slider-comment-wrap {
          width: 500px;
          float: none;
          display: block;
          margin: 0 auto; } }
      @media (max-width: 520px) {
        .clients .slider-bot .slider-comment-wrap {
          width: 100%; } }
      @media (max-width: 991px) {
        .clients .slider-bot .slider-comment-wrap + .slider-comment-wrap {
          margin-top: 30px; } }
      .clients .slider-bot .slider-comment-wrap .slider-comment {
        padding: 22px 25px 0 40px;
        height: 240px;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
        @media (max-width: 1199px) {
          .clients .slider-bot .slider-comment-wrap .slider-comment {
            font-size: 20px; } }
        @media (max-width: 991px) {
          .clients .slider-bot .slider-comment-wrap .slider-comment {
            height: auto;
            padding-bottom: 35px; } }
        @media (max-width: 500px) {
          .clients .slider-bot .slider-comment-wrap .slider-comment {
            padding: 22px 20px 30px 20px;
            font-size: 17px; } }
        @media (max-width: 400px) {
          .clients .slider-bot .slider-comment-wrap .slider-comment {
            padding: 22px 20px 30px 20px;
            font-size: 14px; } }
        .clients .slider-bot .slider-comment-wrap .slider-comment[data-scroll="on"] {
          -webkit-box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
          -moz-box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
          box-shadow: 0 4px 21px rgba(27, 161, 241, 0.4);
          -webkit-transition: .6s;
          -moz-transition: .6s;
          -ms-transition: .6s;
          -o-transition: .6s;
          transition: .6s; }
        .clients .slider-bot .slider-comment-wrap .slider-comment:hover {
          -webkit-box-shadow: 0 4px 21px #0080cd;
          -moz-box-shadow: 0 4px 21px #0080cd;
          box-shadow: 0 4px 21px #0080cd; }
        .clients .slider-bot .slider-comment-wrap .slider-comment li {
          line-height: 1.4; }
          .clients .slider-bot .slider-comment-wrap .slider-comment li + li {
            margin-top: .4em; }
          .clients .slider-bot .slider-comment-wrap .slider-comment li:first-child {
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 15px;
            padding-right: 20px; }
          .clients .slider-bot .slider-comment-wrap .slider-comment li b {
            font-weight: 900; }
  .clients .btn-pop {
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #0080cd;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    line-height: 1.3; }
    .clients .btn-pop:hover {
      color: #ff8c00; }
    .clients .btn-pop:active {
      -webkit-transition: .15s;
      -moz-transition: .15s;
      -ms-transition: .15s;
      -o-transition: .15s;
      transition: .15s;
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
      transform: scale(0.95); }

.reviews {
  background: #f5f5f5;
  padding-bottom: 80px; }
  @media (max-width: 991px) {
    .reviews {
      padding-bottom: 60px; } }
  .reviews .slick-arrow {
    top: 150px; }
    @media (max-width: 991px) {
      .reviews .slick-arrow {
        top: 190px; } }
    @media (max-width: 600px) {
      .reviews .slick-arrow {
        top: 110px; } }
    @media (max-width: 450px) {
      .reviews .slick-arrow {
        top: 70px; } }
  .reviews .one-slide {
    padding: 0 50px; }
    @media (max-width: 500px) {
      .reviews .one-slide {
        padding: 0 35px; } }
    .reviews .one-slide iframe {
      float: left;
      width: 56%;
      height: 315px; }
      @media (max-width: 991px) {
        .reviews .one-slide iframe {
          width: 100%;
          height: 400px; } }
      @media (max-width: 600px) {
        .reviews .one-slide iframe {
          height: 270px; } }
      @media (max-width: 450px) {
        .reviews .one-slide iframe {
          height: 200px; } }
      @media (max-width: 420px) {
        .reviews .one-slide iframe {
          height: 180px; } }
      @media (max-width: 320px) {
        .reviews .one-slide iframe {
          height: 124px; } }
    .reviews .one-slide .review-text {
      float: left;
      width: 44%;
      padding-left: 30px; }
      @media (max-width: 991px) {
        .reviews .one-slide .review-text {
          width: 100%;
          padding-left: 0;
          text-align: center; } }
      .reviews .one-slide .review-text .name {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px; }
        @media (max-width: 1199px) {
          .reviews .one-slide .review-text .name {
            margin-bottom: 15px; } }
        @media (max-width: 991px) {
          .reviews .one-slide .review-text .name {
            margin-top: 15px; } }
        @media (max-width: 400px) {
          .reviews .one-slide .review-text .name {
            font-size: 25px; } }
      .reviews .one-slide .review-text .title {
        font-weight: bold;
        margin-bottom: 30px; }
        @media (max-width: 1199px) {
          .reviews .one-slide .review-text .title {
            margin-bottom: 15px; } }
        @media (max-width: 500px) {
          .reviews .one-slide .review-text .title {
            font-size: 20px; } }
        @media (max-width: 400px) {
          .reviews .one-slide .review-text .title {
            font-size: 18px; } }
      .reviews .one-slide .review-text p {
        line-height: 1.5; }
        @media (max-width: 600px) {
          .reviews .one-slide .review-text p {
            font-size: 18px; } }
        @media (max-width: 450px) {
          .reviews .one-slide .review-text p {
            font-size: 16px; } }
        @media (max-width: 400px) {
          .reviews .one-slide .review-text p {
            font-size: 14px; } }

.stock {
  padding: 80px 0; }
  @media (max-width: 768px) {
    .stock {
      padding: 50px 0; } }
  .stock .tittle {
    float: left;
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
    font-size: 60px;
    font-weight: 900;
    width: 300px;
    margin-top: 80px; }
    @media (max-width: 1199px) {
      .stock .tittle {
        width: 220px; } }
    @media (max-width: 991px) {
      .stock .tittle {
        font-size: 40px;
        width: 150px; } }
    @media (max-width: 769px) {
      .stock .tittle {
        font-size: 60px;
        width: 200px;
        display: block;
        float: none;
        margin: 0 auto 30px; } }
    .stock .tittle:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 3px;
      background: #ff8c00; }
      @media (max-width: 991px) {
        .stock .tittle:before {
          width: 130px; } }
      @media (max-width: 768px) {
        .stock .tittle:before {
          width: 200px; } }
  .stock .text {
    display: inline-block;
    float: left;
    width: calc(100% - 300px);
    font-size: 48px;
    font-weight: bold;
    position: relative;
    padding: 50px 0 60px 50px; }
    @media (max-width: 1199px) {
      .stock .text {
        width: calc(100% - 220px);
        font-size: 42px; } }
    @media (max-width: 991px) {
      .stock .text {
        font-size: 28px; } }
    @media (max-width: 768px) {
      .stock .text {
        width: 100%;
        padding: 30px 15px 40px 15px; } }
    @media (max-width: 560px) {
      .stock .text {
        font-size: 24px; } }
    @media (max-width: 470px) {
      .stock .text {
        font-size: 22px; } }
    @media (max-width: 420px) {
      .stock .text {
        font-size: 15px; } }
    .stock .text .cube {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border: 12px solid #ff8c00;
      width: 260px;
      z-index: 1; }
      @media (max-width: 991px) {
        .stock .text .cube {
          width: 220px; } }
      @media (max-width: 768px) {
        .stock .text .cube {
          width: 100%; } }
      @media (max-width: 430px) {
        .stock .text .cube {
          border: 6px solid #ff8c00; } }
      .stock .text .cube:before {
        content: "";
        position: absolute;
        top: 35px;
        left: 234px;
        background: #fff;
        width: 16px;
        height: 142px;
        z-index: 2; }
        @media (max-width: 991px) {
          .stock .text .cube:before {
            top: 35px;
            left: 194px;
            height: 115px; } }
        @media (max-width: 768px) {
          .stock .text .cube:before {
            display: none; } }
    .stock .text span {
      position: relative;
      z-index: 5; }
      @media (max-width: 768px) {
        .stock .text span {
          width: 100%;
          text-align: center;
          display: inline-block; } }
      .stock .text span:first-child {
        display: inline-block;
        margin-bottom: 50px; }
        @media (max-width: 768px) {
          .stock .text span:first-child {
            margin-bottom: 30px; } }

.contact {
  padding: 80px 0;
  background: url("../img/contact-bg.jpg") no-repeat center;
  background-size: cover; }
  @media (max-width: 500px) {
    .contact {
      padding: 50px 0; } }
  .contact form {
    float: right; }
    @media (max-width: 991px) {
      .contact form {
        display: block;
        margin: 0 auto;
        float: none; } }
  @media (max-width: 768px) {
    .contact .container {
      padding: 0 5px; } }
  .contact .icon-block {
    display: inline-block;
    float: left;
    width: 655px;
    padding-top: 70px; }
    @media (max-width: 1199px) {
      .contact .icon-block {
        width: 460px; } }
    @media (max-width: 991px) {
      .contact .icon-block {
        width: 100%; } }
    @media (max-width: 500px) {
      .contact .icon-block {
        margin-top: 45px; } }
    .contact .icon-block .tell {
      text-align: center;
      margin-bottom: 22px; }
      .contact .icon-block .tell a {
        font-size: 48px;
        font-weight: bold;
        color: #fff;
        font-family: "SFUIDisplay";
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
        .contact .icon-block .tell a:hover {
          color: #ff8c00; }
        @media (max-width: 768px) {
          .contact .icon-block .tell a {
            font-size: 38px; } }
        @media (max-width: 400px) {
          .contact .icon-block .tell a {
            font-size: 32px; } }
      @media (max-width: 768px) {
        .contact .icon-block .tell {
          margin-bottom: 20px; } }
    .contact .icon-block .btn-tell {
      text-align: center; }
      .contact .icon-block .btn-tell .btn-tell-me {
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        font-family: "SFUIDisplay";
        cursor: pointer;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        text-transform: uppercase; }
        .contact .icon-block .btn-tell .btn-tell-me:hover {
          color: #ff8c00; }
    .contact .icon-block .one-icon-wrap {
      text-align: center; }
      @media (max-width: 768px) {
        .contact .icon-block .one-icon-wrap {
          display: block;
          width: 450px;
          margin: 0 auto; } }
      @media (max-width: 500px) {
        .contact .icon-block .one-icon-wrap {
          width: 300px; } }
      .contact .icon-block .one-icon-wrap .one-icon {
        color: #fff;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        display: inline-block;
        text-align: center;
        width: 30%;
        font-size: 130px;
        margin-top: 30px; }
        @media (max-width: 1199px) {
          .contact .icon-block .one-icon-wrap .one-icon {
            font-size: 100px; } }
        @media (max-width: 991px) {
          .contact .icon-block .one-icon-wrap .one-icon {
            font-size: 75px;
            width: 15%; } }
        @media (max-width: 768px) {
          .contact .icon-block .one-icon-wrap .one-icon {
            font-size: 55px;
            width: 16.6%;
            float: left; } }
        @media (max-width: 500px) {
          .contact .icon-block .one-icon-wrap .one-icon {
            font-size: 35px; } }
        .contact .icon-block .one-icon-wrap .one-icon:hover {
          color: #ff8c00; }

.popup-tel {
  background: rgba(0, 128, 205, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: -100;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 0;
  padding: 20px 10px 20px; }
  .popup-tel.open {
    opacity: 1;
    z-index: 9999; }
    .popup-tel.open form {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .popup-tel form {
    position: relative;
    overflow: hidden;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
    .popup-tel form .close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      cursor: pointer; }
      .popup-tel form .close:hover:before, .popup-tel form .close:hover:after {
        background: #0080cd; }
      .popup-tel form .close:before, .popup-tel form .close:after {
        content: "";
        position: absolute;
        top: 13px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #ff8c00; }
      .popup-tel form .close:after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .popup-tel form .close:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
