@font-face {
  font-family: 'artfox';
  src:  url('fonts/artfox.eot?ay2e8l');
  src:  url('fonts/artfox.eot?ay2e8l#iefix') format('embedded-opentype'),
    url('fonts/artfox.ttf?ay2e8l') format('truetype'),
    url('fonts/artfox.woff?ay2e8l') format('woff'),
    url('fonts/artfox.svg?ay2e8l#artfox') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'artfox' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-analysis:before {
  content: "\e900";
}
.icon-bookmark:before {
  content: "\e901";
}
.icon-brainstorming:before {
  content: "\e902";
}
.icon-communication:before {
  content: "\e903";
}
.icon-competition:before {
  content: "\e904";
}
.icon-design-tool:before {
  content: "\e905";
}
.icon-facebook2:before {
  content: "\e906";
  color: #000;
}
.icon-facebook .path1:before {
  content: "\e907";
  color: rgb(41, 171, 226);
  opacity: 0.3;
}
.icon-facebook .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-instagram2:before {
  content: "\e909";
  color: #000;
}
.icon-instagram .path1:before {
  content: "\e90a";
  color: rgb(41, 171, 226);
  opacity: 0.3;
}
.icon-instagram .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(41, 171, 226);
  opacity: 0.3;
}
.icon-instagram .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(41, 171, 226);
  opacity: 0.3;
}
.icon-instagram .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-instagram .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-instagram .path6:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-likedin .path1:before {
  content: "\e910";
  color: rgb(41, 171, 226);
  opacity: 0.3;
}
.icon-likedin .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-likedin .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-likedin .path4:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-likedin .path5:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-logo_likedin:before {
  content: "\e915";
  color: #000;
}
.icon-logo_Odnoklassniki:before {
  content: "\e916";
  color: #000;
}
.icon-logo_vk:before {
  content: "\e917";
  color: #000;
}
.icon-logo-artfox:before {
  content: "\e918";
}
.icon-networking:before {
  content: "\e919";
}
.icon-Odnoklassniki .path1:before {
  content: "\e91a";
  color: rgb(41, 171, 226);
  opacity: 0.3;
}
.icon-Odnoklassniki .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(41, 171, 226);
  opacity: 0.3;
}
.icon-Odnoklassniki .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-Odnoklassniki .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-Odnoklassniki .path5:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-presentation:before {
  content: "\e91f";
}
.icon-promotion:before {
  content: "\e920";
}
.icon-targeting:before {
  content: "\e921";
}
.icon-teamwork:before {
  content: "\e922";
}
.icon-transfer:before {
  content: "\e923";
}
.icon-twitter2:before {
  content: "\e924";
  color: #000;
}
.icon-twitter .path1:before {
  content: "\e925";
  color: rgb(41, 171, 226);
  opacity: 0.3;
}
.icon-twitter .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
.icon-vk .path1:before {
  content: "\e927";
  color: rgb(41, 171, 226);
  opacity: 0.3;
}
.icon-vk .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(41, 171, 226);
}
